/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  /* border: 1px solid green; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* SITE-SPECIFIC */


body {
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
}

/* sidebar */
#sidebar {
    width: 10vw;
    height: 100vh;
    padding: .75em;
    background-color: #303030;
    position: fixed;
}

#homeLink {
  margin: auto;
}
#logo {
  width: 2vw;
  display: inline-block;
  margin-right: auto;
}
#siteTitle {
  padding: 0.5em 0 0 0;
  display: inline-block;
}
#myName {
  color: white;
  font-size: 2.5vw;
  float: right;
}
#tagline {
  color: #b5b5b5;
  font-size: .75vw;
  float: left;
}

#portfolios {
  margin-top: 30vh;
  margin-bottom: 40vh;
}
.view {
  font-size: 4vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: white;
}
.view:hover {
  cursor: pointer;
  color: gold;
  font-size: 5.5vh;
}

/* content */
#content {
  float: right;
  width: 88vw;
  height: 100vh;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url("../assets/images/main.png");
  opacity: 100%;
}

/* bg */
/* #bg {
  position: absolute;
  bottom: 0;
  right: 0;
}
.comedy {
  opacity: 50%;
} */
